// Colors
$darkNavy: #001970;
$lightNavy: #006ca9;
$darkRed: #800000;
$white: #fff;

// Background colors
$bgColor: linear-gradient(to bottom, $darkNavy, $lightNavy) no-repeat;

// Fonts
$font-family: 'Poppins', 'Helvetica', sans-serif;

// Transitions
$color-favorite-transition: color 200ms ease-in-out;
