.forecast {
  @include flex-justify-center;
  margin: 5rem 0 2rem 0;
  flex-wrap: wrap;

  &__item {
    text-align: center;
    padding: 1.25rem;

    &:not(:last-child) {
      border-right: 1px solid $white;
    }

    & img {
      max-width: 3rem;
      height: 3rem;

      @include breakpoint-tablet-up {
        max-width: 4rem;
        height: 4rem;
      }
    }

    @include breakpoint-tablet-up {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
