.intro {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide-from-left 250ms ease-out,
    slide-to-right 250ms ease-out 2.5s forwards;

  &__logo {
    fill: $white;
    animation: bounce 250ms infinite 450ms ease-in-out alternate;
  }

  &__heading {
    font-size: clamp(2.5rem, 5vw, 3.5rem);

    &--small {
      font-weight: 300;
    }
  }
}
